{% extends '../layout.html' %}
{% block page-title %}Buscar{% endblock %}
{% block content %}
  <br />
  <div class="card mx-auto" style="width: 75%;">
  <div class="card-header">
      Ingrese su contraseña
  </div>
  <div class="card-body">
    <form action="search/" method="post">
      {% csrf_token %}  
        <div class="text-center">
            <label for="passsword">Ingrese su contraseña</label>
            <input type="password" name="password" id="password" /><br /> <br />
            <input class="btn btn-primary" type="submit" value="Buscar" /><br />
        </div>
    </form> 
  </div>
  </div>
{% endblock %}